
/* General Styling */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.form-control{
    border: none;
    background-color: white;
    color: #28669F;
    border-radius: 0;
    width: 258px;
    height: 42px;
    border: 1px solid #787878;
}
.form-control:focus{
    border: none;
    background-color: white;
    color: #28669F;
    border-radius: 0;
    width: 258px;
    height: 42px;
}

.form-control::placeholder{
    color: #28669F;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: start ;
    height: max-content;
    background-image: url('../pictures/bg/car-bg.png');
    height: 862px;
    padding-top: 81px;
    margin: 0 auto;
    width:  100%;

}

form{
    margin: 0 auto;
    
}

.form-title{
    font-weight: 600;
    font-size: 35px;
    width: 100%;
    text-align: center;
    color: #1550BF;
}

.login-link{
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    text-align: center;
    color: #000;
    margin-bottom: 82px;
}
.form-group{
    width: max-content;
    gap:200px;
    margin-bottom: 29px;
}

.row{
    width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.btn-custom {
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
    max-width: 150px;
    transition: all 0.3s ease;
    margin: 0 auto;
}

.btn-accept {
    background-color: #3DD46B;
    color: white;
    border: none;
}

.btn-accept:hover{
    border: 2px solid #3DD46B;
    background: white;
    color: #3DD46B;
    margin: 0 auto;
}
